In [5]:
#answer 1

!pip install bs4
!pip install requests

from bs4 import BeautifulSoup
import requests

def webscr1(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    header_name=[]
    hd=['h1','h2','h3','h4','h5','h6']
    for i in soup.find_all(hd):
       # header_name.append(i)
         print(i,sep='\n\n')

#calling function         
url="https://en.wikipedia.org/wiki/Main_Page"    
webscr1(url)

Requirement already satisfied: bs4 in c:\users\shilp\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\shilp\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\shilp\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\users\shilp\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\shilp\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\shilp\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\shilp\anaconda3\lib\site-packages (from requests) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\shilp\anaconda3\lib\site-packages (from requests) (3.2)
<h1 class="firstHeading mw-first-heading" id="firstHeading" style="display: none"><span class="mw-page-title-main">Main Page</span></h1>
<h1><span class="mw-headline" id="Welcome_to_Wikipedia">Welcome to <a href="/wiki/Wikipedia" title="Wikipedia">Wikipedia</a></span></h1>
<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>
<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>
<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>
<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>
<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>
<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>
<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>
<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>
<h2>Navigation menu</h2>
<h3 class="vector-menu-heading" id="p-personal-label">
<span class="vector-menu-heading-label">Personal tools</span>
</h3>
<h3 class="vector-menu-heading" id="p-namespaces-label">
<span class="vector-menu-heading-label">Namespaces</span>
</h3>
<h3 class="vector-menu-heading" id="p-views-label">
<span class="vector-menu-heading-label">Views</span>
</h3>
<h3 class="vector-menu-heading" id="p-navigation-label">
<span class="vector-menu-heading-label">Navigation</span>
</h3>
<h3 class="vector-menu-heading" id="p-interaction-label">
<span class="vector-menu-heading-label">Contribute</span>
</h3>
<h3 class="vector-menu-heading" id="p-tb-label">
<span class="vector-menu-heading-label">Tools</span>
</h3>
<h3 class="vector-menu-heading" id="p-coll-print_export-label">
<span class="vector-menu-heading-label">Print/export</span>
</h3>
<h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span class="vector-menu-heading-label">In other projects</span>
</h3>
<h3 class="vector-menu-heading" id="p-lang-label">
<span class="vector-menu-heading-label">Languages</span>
</h3>

In [6]:
#answer 2
import pandas as pd
def webscr1(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
#extracting movie names
    mv_li=[]
    movie_names=soup.find_all('td',class_='titleColumn')
    for i in movie_names:
        mv_li.append(i.get_text().replace("\n     ","").replace("\n","").strip())
        #mv_li.replace("      ","")
#extracting movie ratings   
    movie_rating=soup.find_all('td',class_='ratingColumn imdbRating')
    mv_rt=[]
    for j in movie_rating:
        mv_rt.append(j.get_text().replace("\n","").strip())
#extracting movie year      
    movie_year=soup.find_all('span',class_='secondaryInfo')
    mv_yr=[]
    for k in movie_year:
        mv_yr.append(k.get_text().replace("\n","").strip())
#storing values in dataframe    
    df=pd.DataFrame()
    df["movies_name"]=mv_li
    df["movie_rating"]=mv_rt
    df["movie_year"]=mv_yr
#print top 100 movies list
    print(df.iloc[0:100,:])
    
    
#calling function   
url="https://www.imdb.com/chart/top/?sort=ir,desc&mode=simple&page=1"    
webscr1(url)

                                    movies_name movie_rating movie_year
0             1. The Shawshank Redemption(1994)          9.2     (1994)
1                        2. The Godfather(1972)          9.2     (1972)
2                      3. The Dark Knight(2008)          9.0     (2008)
3                4. The Godfather Part II(1974)          9.0     (1974)
4                         5. 12 Angry Men(1957)          9.0     (1957)
..                                          ...          ...        ...
95                       96. Citizen Kane(1941)          8.3     (1941)
96  97. M - Eine Stadt sucht einen Mörder(1931)          8.3     (1931)
97                 98. Lawrence of Arabia(1962)          8.3     (1962)
98                 99. North by Northwest(1959)          8.2     (1959)
99                           100. Vertigo(1958)          8.2     (1958)

[100 rows x 3 columns]

In [7]:
# answer 3
import pandas as pd
def webscr1(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
#extracting movie names
    mv_li=[]
    movie_names=soup.find_all('td',class_='titleColumn')
    for i in movie_names:
        mv_li.append(i.get_text().replace("\n     ","").replace("\n","").strip())
        #mv_li.replace("      ","")
#extracting movie ratings   
    movie_rating=soup.find_all('td',class_='ratingColumn imdbRating')
    mv_rt=[]
    for j in movie_rating:
        mv_rt.append(j.get_text().replace("\n","").strip())
#extracting movie year      
    movie_year=soup.find_all('span',class_='secondaryInfo')
    mv_yr=[]
    for k in movie_year:
        mv_yr.append(k.get_text().replace("\n","").strip())
#storing values in dataframe    
    df=pd.DataFrame()
    df["movies_name"]=mv_li
    df["movie_rating"]=mv_rt
    df["movie_year"]=mv_yr
#print top 100 movies list
    print(df.iloc[0:100,:])
    
    
#calling function   
url="https://www.imdb.com/india/top-rated-indian-movies/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=461131e5-5af0-4e50-bee2-223fad1e00ca&pf_rd_r=W8XT86ESC3P8HWH526R5&pf_rd_s=center-1&pf_rd_t=60601&pf_rd_i=india.toprated&ref_=fea_india_ss_toprated_india_tr_india250_sm"    
webscr1(url)

                                     movies_name movie_rating movie_year
0   1. Ramayana: The Legend of Prince Rama(1993)          8.5     (1993)
1            2. Rocketry: The Nambi Effect(2022)          8.4     (2022)
2                               3. Golmaal(1979)          8.4     (1979)
3                           4. 777 Charlie(2022)          8.4     (2022)
4                               5. Nayakan(1987)          8.4     (1987)
..                                           ...          ...        ...
95                      96. Kaakkaa Muttai(2014)          8.0     (2014)
96                         97. Ustad Hotel(2012)          8.0     (2012)
97            98. Theeran Adhigaaram Ondru(2017)          8.0     (2017)
98                              99. Angoor(1982)          8.0     (1982)
99                    100. Rang De Basanti(2006)          8.0     (2006)

[100 rows x 3 columns]

In [9]:
# answer 4

import pandas as pd
def webscr1(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    #print(soup.prettify())
#extracting president names
    pr_name=[]
    new_pn=[]
    p_names=soup.find_all('div',class_='presidentListing')
    p_names=soup.select("h3")
    #print(p_names)
            
    for i in p_names:
        pr_name.append(i.get_text().replace("\n",""))
                
#extracting president term of office    
    pr_off=[]
    p_term=soup.find_all("div",class_='presidentListing')
    #p_term=p_term.select("p")
    #print(p_term)      
    for i in p_term:
        pr_off.append(i.get_text().split("\n")[2])
   
    

#storing values in dataframe    
    df=pd.DataFrame()
    df["Name"]=pr_name
    df["Term of office"]=pr_off
    print(df)
    
    
#calling function   
url="https://presidentofindia.nic.in/former-presidents.htm"
webscr1(url)

                                           Name  \
0           Shri Ram Nath Kovind (birth - 1945)
1             Shri Pranab Mukherjee (1935-2020)
2   Smt Pratibha Devisingh Patil (birth - 1934)
3            DR. A.P.J. Abdul Kalam (1931-2015)
4            Shri K. R. Narayanan (1920 - 2005)
5           Dr Shankar Dayal Sharma (1918-1999)
6               Shri R Venkataraman (1910-2009)
7                  Giani Zail Singh (1916-1994)
8         Shri Neelam Sanjiva Reddy (1913-1996)
9          Dr. Fakhruddin Ali Ahmed (1905-1977)
10     Shri Varahagiri Venkata Giri (1894-1980)
11                 Dr. Zakir Husain (1897-1969)
12     Dr. Sarvepalli Radhakrishnan (1888-1975)
13             Dr. Rajendra Prasad (1884-1963)

                                       Term of office
0     Term of Office: 25 July, 2017 to 25 July, 2022
1     Term of Office: 25 July, 2012 to 25 July, 2017
2     Term of Office: 25 July, 2007 to 25 July, 2012
3     Term of Office: 25 July, 2002 to 25 July, 2007
4     Term of Office: 25 July, 1997 to 25 July, 2002
5     Term of Office: 25 July, 1992 to 25 July, 1997
6     Term of Office: 25 July, 1987 to 25 July, 1992
7     Term of Office: 25 July, 1982 to 25 July, 1987
8     Term of Office: 25 July, 1977 to 25 July, 1982
9   Term of Office: 24 August, 1974 to 11 February...
10  Term of Office: 3 May, 1969 to 20 July, 1969 a...
11        Term of Office: 13 May, 1967 to 3 May, 1969
12       Term of Office: 13 May, 1962 to 13 May, 1967
13   Term of Office: 26 January, 1950 to 13 May, 1962

In [10]:
# answer 5 part A:
import requests
import pandas as pd
def webscr1(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    
#extracting team names
    mv_li=[]
    team_names=soup.find_all('span',class_='u-hide-phablet')
    for i in team_names:
        mv_li.append(i.get_text())
        
    
#extracting matches counts and points
    mat_li=[]
    mat_li2=[]
    n=[]
    p=[]
    first_match=[]
    first_match1=soup.find('td',class_='rankings-block__banner--matches')
    first_match1=first_match1.get_text()
    first_point1=soup.find('td',class_='rankings-block__banner--points')
    first_point1=first_point1.get_text()
    
    mat_count=soup.find_all('td',class_='table-body__cell u-center-text')
    
    mat_li.append(first_match1)
    mat_li.append(first_point1)
    
    for i in mat_count:
        mat_li.append(i.get_text())
        
 
   #n for storing first and all rest of the matches counts 
    k=0
    for k in range(0,len(mat_li),2):
        n.append(mat_li[k])

        
  #p for storing first and all rest of the matches points 
    y=0
    for y in range(1,len(mat_li),2):
        p.append(mat_li[y])
    

#extracting rating
    rat_li=[]
    
    first_count1=soup.find('td',class_='rankings-block__banner--rating u-text-right')
    first_count1=first_count1.get_text()
    rat_count=soup.find_all('td',class_='table-body__cell u-text-right rating')
    
    rat_li.append(first_count1)
    for i in rat_count:
        rat_li.append(i.get_text())
        
        
#storing values in dataframe    
    df=pd.DataFrame()
    df["team_names"]=mv_li
    df["matches"]=n
    df["points"]=p
    df["ratings"]=rat_li
#print top 100 movies list
    print(df.iloc[0:10,:])
    
    
#calling function   
url="https://www.icc-cricket.com/rankings/mens/team-rankings/odi"
webscr1(url)

     team_names matches points  \
0   New Zealand      23  2,670
1       England      30  3,400
2     Australia      32  3,572
3         India      35  3,866
4      Pakistan      22  2,354
5  South Africa      24  2,392
6    Bangladesh      30  2,753
7     Sri Lanka      30  2,677
8   Afghanistan      19  1,380
9   West Indies      41  2,902

                                             ratings
0  \n                            116\n           ...
1                                                113
2                                                112
3                                                110
4                                                107
5                                                100
6                                                 92
7                                                 89
8                                                 73
9                                                 71

In [11]:
# answer 5 part B:
import requests
import pandas as pd
def webscr1(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    

#extracting player names
    pl_li=[]
    
    first_play1=soup.find('div',class_='rankings-block__banner--name')
    first_play1=first_play1.get_text()
    play_count=soup.find_all('td',class_='table-body__cell name')
    
    pl_li.append(first_play1)
    for i in play_count:
        pl_li.append(i.get_text().replace("\n",""))
        
#extracting team names
    te_li=[]
    
    first_tn1=soup.find('div',class_='rankings-block__banner--nationality')
    first_tn1=first_tn1.get_text().replace(" ","").replace("\n","")
    #print(first_tn1)
    te_count=soup.find_all('span',class_='table-body__logo-text')
    onlychar=""
    for char in first_tn1:
        if char.isalpha():
            onlychar+=char
    
    te_li.append(onlychar)
    for i in te_count:
        te_li.append(i.get_text())
        
#extracting rating
    rat_li=[]
    
    first_count1=soup.find('div',class_='rankings-block__banner--rating')
    first_count1=first_count1.get_text()
    rat_count=soup.find_all('td',class_='table-body__cell u-text-right rating')
    
    rat_li.append(first_count1)
    for i in rat_count:
        rat_li.append(i.get_text())
        
        
#storing values in dataframe    
    df=pd.DataFrame()
    df["Player"]=pl_li
    df["team"]=te_li
    df["ratings"]=rat_li
    print("-------------Top 10 batsmen list----------")
    print(df.iloc[0:10,:])
    
    
#calling function   
url="https://www.icc-cricket.com/rankings/mens/player-rankings/odi"
webscr1(url)

-------------Top 10 batsmen list----------
                  Player team ratings
0             Babar Azam  PAK     890
1            Imam-ul-Haq  PAK     779
2  Rassie van der Dussen   SA     766
3        Quinton de Kock   SA     759
4           David Warner  AUS     747
5            Steve Smith  AUS     719
6         Jonny Bairstow  ENG     710
7            Virat Kohli  IND     707
8           Rohit Sharma  IND     704
9        Kane Williamson   NZ     701

In [12]:
# answer 5 part C:
import requests
import pandas as pd
def webscr1(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    

#extracting player names
    pl_li=[]
    new_li=[]
    first_play1=[]
    first_play1=soup.find_all('div',class_='rankings-block__banner--name')
    for m in first_play1:
        new_li.append(m.get_text())
        
    bwl_nam1=new_li[1]
        
   
    play_count=soup.find_all('td',class_='table-body__cell name')
    
   # pl_li.append(first_play1)
    for i in play_count:
        pl_li.append(i.get_text().replace("\n",""))
    
    pl_li.insert(9,bwl_nam1)
    
     
#extracting team names
    te_li=[]
    first_tn1=[]
    bow_nat=[]
    first_tn1=soup.find_all('div',class_='rankings-block__banner--nationality')
    for m in first_tn1:
        bow_nat.append(m.get_text().replace(" ","").replace("\n",""))
    
    bwl_nt1=bow_nat[1]
    te_count=soup.find_all('span',class_='table-body__logo-text')
    
    onlychar=""
    for char in bwl_nt1:
        if char.isalpha():
            onlychar+=char
    
    #te_li.append(onlychar)
    for i in te_count:
        te_li.append(i.get_text())
    
    te_li.insert(9,onlychar)
    
#extracting rating
    rat_li=[]
    first_count1=[]
    bowl_rat=[]
    first_count1=soup.find_all('div',class_='rankings-block__banner--rating')
    for m in first_count1:
        bowl_rat.append(m.get_text())
        
    bwl_rt1=bowl_rat[1]
        
    rat_count=soup.find_all('td',class_='table-body__cell u-text-right rating')
    
    #rat_li.append(first_count1)
    for i in rat_count:
        rat_li.append(i.get_text())
        
    rat_li.insert(9,bwl_rt1)
    
#storing values in dataframe    
    df=pd.DataFrame()
    df2=pd.DataFrame()
    df["Player"]=pl_li
    df["team"]=te_li
    df["ratings"]=rat_li
    print("-------------Top 10 bowlers list----------")
    df2=df.iloc[9:19,:]
    df2.reset_index(drop=True, inplace=True)
    print(df2)
    
    
#calling function   
url="https://www.icc-cricket.com/rankings/mens/player-rankings/odi"
webscr1(url)

-------------Top 10 bowlers list----------
              Player team ratings
0        Trent Boult   NZ     760
1     Josh Hazlewood  AUS     727
2     Mitchell Starc  AUS     665
3     Shaheen Afridi  PAK     661
4         Matt Henry   NZ     656
5         Adam Zampa  AUS     655
6       Mehedi Hasan  BAN     655
7   Mujeeb Ur Rahman  AFG     650
8  Mustafizur Rahman  BAN     640
9        Rashid Khan  AFG     635

In [13]:
# answer 6 part A:
import requests
import pandas as pd
def webscr1(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    
#extracting team names
    mv_li=[]
    team_names=soup.find_all('span',class_='u-hide-phablet')
    for i in team_names:
        mv_li.append(i.get_text())
        
    
#extracting matches counts and points
    mat_li=[]
    mat_li2=[]
    n=[]
    p=[]
    first_match=[]
    first_match1=soup.find('td',class_='rankings-block__banner--matches')
    first_match1=first_match1.get_text()
    first_point1=soup.find('td',class_='rankings-block__banner--points')
    first_point1=first_point1.get_text()
    
    mat_count=soup.find_all('td',class_='table-body__cell u-center-text')
    
    mat_li.append(first_match1)
    mat_li.append(first_point1)
    
    for i in mat_count:
        mat_li.append(i.get_text())
        
 
   #n for storing first and all rest of the matches counts 
    k=0
    for k in range(0,len(mat_li),2):
        n.append(mat_li[k])

        
  #p for storing first and all rest of the matches points 
    y=0
    for y in range(1,len(mat_li),2):
        p.append(mat_li[y])
    

#extracting rating
    rat_li=[]
    
    first_count1=soup.find('td',class_='rankings-block__banner--rating u-text-right')
    first_count1=first_count1.get_text()
    rat_count=soup.find_all('td',class_='table-body__cell u-text-right rating')
    
    rat_li.append(first_count1)
    for i in rat_count:
        rat_li.append(i.get_text())
        
        
#storing values in dataframe    
    df=pd.DataFrame()
    df["team_names"]=mv_li
    df["matches"]=n
    df["points"]=p
    df["ratings"]=rat_li
#print top 10 Womens teams
    
    print(df.iloc[0:11,:])
    
    
#calling function   
url="https://www.icc-cricket.com/rankings/womens/team-rankings/odi"
webscr1(url)

      team_names matches points  \
0      Australia      18  3,061
1   South Africa      26  3,098
2        England      25  2,904
3          India      27  2,820
4    New Zealand      24  2,425
5    West Indies      24  2,334
6     Bangladesh      12    932
7       Thailand       8    572
8       Pakistan      24  1,519
9      Sri Lanka       8    353
10       Ireland      14    548

                                              ratings
0   \n                            170\n           ...
1                                                 119
2                                                 116
3                                                 104
4                                                 101
5                                                  97
6                                                  78
7                                                  72
8                                                  63
9                                                  44
10                                                 39

In [14]:
# answer 6 part B:
import requests
import pandas as pd
def webscr1(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    

#extracting player names
    pl_li=[]
    
    first_play1=soup.find('div',class_='rankings-block__banner--name')
    first_play1=first_play1.get_text()
    play_count=soup.find_all('td',class_='table-body__cell name')
    
    pl_li.append(first_play1)
    for i in play_count:
        pl_li.append(i.get_text().replace("\n",""))
        
#extracting team names
    te_li=[]
    
    first_tn1=soup.find('div',class_='rankings-block__banner--nationality')
    first_tn1=first_tn1.get_text().replace(" ","").replace("\n","")
    #print(first_tn1)
    te_count=soup.find_all('span',class_='table-body__logo-text')
    onlychar=""
    for char in first_tn1:
        if char.isalpha():
            onlychar+=char
    
    te_li.append(onlychar)
    for i in te_count:
        te_li.append(i.get_text())
        
#extracting rating
    rat_li=[]
    
    first_count1=soup.find('div',class_='rankings-block__banner--rating')
    first_count1=first_count1.get_text()
    rat_count=soup.find_all('td',class_='table-body__cell u-text-right rating')
    
    rat_li.append(first_count1)
    for i in rat_count:
        rat_li.append(i.get_text())
        
        
#storing values in dataframe    
    df=pd.DataFrame()
    df["Player"]=pl_li
    df["team"]=te_li
    df["ratings"]=rat_li
    print("-------------Top 10 women batsmen list----------")
    print(df.iloc[0:10,:])
    
    
#calling function   
url="https://www.icc-cricket.com/rankings/womens/player-rankings/odi"
webscr1(url)

-------------Top 10 women batsmen list----------
                Player team ratings
0         Alyssa Healy  AUS     785
1          Beth Mooney  AUS     749
2      Laura Wolvaardt   SA     732
3       Natalie Sciver  ENG     725
4     Harmanpreet Kaur  IND     716
5      Smriti Mandhana  IND     714
6          Meg Lanning  AUS     710
7       Rachael Haynes  AUS     701
8    Amy Satterthwaite   NZ     661
9  Chamari Athapaththu   SL     655

In [15]:
# answer 6 part C:
import requests
import pandas as pd
def webscr1(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    

#extracting player names
    pl_li=[]
    new_li=[]
    first_play1=[]
    first_play1=soup.find_all('div',class_='rankings-block__banner--name')
    for m in first_play1:
        new_li.append(m.get_text())
    
    bwl_nam1=new_li[-1]
    
    play_count=soup.find_all('td',class_='table-body__cell name')
    
   # pl_li.append(first_play1)
    for i in play_count:
        pl_li.append(i.get_text().replace("\n",""))
    
    pl_li.insert(18,bwl_nam1)
    
#extracting team names
    te_li=[]
    first_tn1=[]
    bow_nat=[]
    first_tn1=soup.find_all('div',class_='rankings-block__banner--nationality')
    for m in first_tn1:
        bow_nat.append(m.get_text().replace(" ","").replace("\n",""))
    
    bwl_nt1=bow_nat[-1]
    te_count=soup.find_all('span',class_='table-body__logo-text')
    
    onlychar=""
    for char in bwl_nt1:
        if char.isalpha():
            onlychar+=char
    
    #te_li.append(onlychar)
    for i in te_count:
        te_li.append(i.get_text())
    
    te_li.insert(18,onlychar)
    
#extracting rating
    rat_li=[]
    first_count1=[]
    bowl_rat=[]
    first_count1=soup.find_all('div',class_='rankings-block__banner--rating')
    for m in first_count1:
        bowl_rat.append(m.get_text())
        
    bwl_rt1=bowl_rat[-1]
        
    rat_count=soup.find_all('td',class_='table-body__cell u-text-right rating')
    
    #rat_li.append(first_count1)
    for i in rat_count:
        rat_li.append(i.get_text())
        
    rat_li.insert(18,bwl_rt1)
    
#storing values in dataframe    
    df=pd.DataFrame()
    df2=pd.DataFrame()
    df["Player"]=pl_li
    df["team"]=te_li
    df["ratings"]=rat_li
    print("-------------Top 10 all-rounder list----------")
    df2=df.iloc[18:,:]
    df2.reset_index(drop=True, inplace=True)
    print(df2)
    
    
#calling function   
url="https://www.icc-cricket.com/rankings/womens/player-rankings/odi"
webscr1(url)

-------------Top 10 all-rounder list----------
             Player team ratings
0   Hayley Matthews   WI     380
1      Ellyse Perry  AUS     374
2    Natalie Sciver  ENG     357
3       Amelia Kerr   NZ     356
4    Marizanne Kapp   SA     349
5     Deepti Sharma  IND     322
6  Ashleigh Gardner  AUS     270
7     Jess Jonassen  AUS     246
8    Jhulan Goswami  IND     214
9   Katherine Brunt  ENG     207

In [16]:
#answer7

import pandas as pd
def webscr1(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
#extracting Headline 
    Hd_li=[]
    head_lines=[]
    head_lines=soup.find_all('h1',class_='ArticleHeader-headline')   
    for i in head_lines:
        Hd_li.append(i.get_text().replace("\n     ","").replace("\n","").strip())
    print("----------Headline----------------")
    print(Hd_li)
    
#extracting time 
    Hd_ti=[]
    head_t=[]
    head_t=soup.find_all('time')  
    #print(head_t)
    for i in head_t:
        Hd_ti.append(i.get_text().replace("\n     ","").replace("\n","").strip())
    print("----------Time---------------")
    print(Hd_ti)    

#extracting newlink 
    news_ti=[]
    n_t=[]
    n_t=soup.find_all('a',class_='WatchLive-container')  
    
    for i in n_t:
        news_ti.append(i.get('href'))
    print("----------NewsLink---------------")
    print(news_ti)   
    
#calling function   
url="https://www.cnbc.com/2022/11/30/fed-chair-jerome-powell-says-smaller-rate-hikes-could-come-in-december.html"
webscr1(url)

----------Headline----------------
['Fed Chair Powell says smaller interest rate hikes could start in December']
----------Time---------------
['Published Wed, Nov 30 20221:30 PM EST', 'Updated 1 Min Ago']
----------NewsLink---------------
['/live-tv/']

In [17]:
#answer8

import pandas as pd
def webscr1(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
#extracting journal name 
    Hd_li=[]
    head_lines=[]
    head_lines=soup.find_all('h2',class_='sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg')   
    for i in head_lines:
        Hd_li.append(i.get_text().replace("\n     ","").replace("\n","").strip())
#extracting authornames 
    Hd_ti=[]
    head_t=[]
    head_t=soup.find_all('span',class_='sc-1w3fpd7-0 dnCnAO')  
    #print(head_t)
    for i in head_t:
        Hd_ti.append(i.get_text().replace("\n     ","").replace("\n","").strip())
  
   
#extracting published date
    news_ti=[]
    n_t=[]
    n_t=soup.find_all('span',class_='sc-1thf9ly-2 dvggWt')  
    
    for i in n_t:
        news_ti.append(i.get_text().replace("\n     ","").replace("\n","").strip())
    
    
#extracting reward URL date
    url_ti=[]
    lin=[]
    lin=soup.find_all('a',class_='sc-5smygv-0 fIXTHm')  
    for i in lin:
        url_ti.append(i.get('href'))
        
    
#storing values in dataframe    
    df=pd.DataFrame()
    df["Paper Title"]=Hd_li
    df["Authors"]=Hd_ti
    df["Published Date"]=news_ti
    df["Paper URL"]=url_ti
    print("-------------Top downlaoded journal list----------")
    print(df)
    
#calling function   
url="https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles"
webscr1(url)

-------------Top downlaoded journal list----------
                                          Paper Title  \
0                                    Reward is enough
1                           Making sense of raw input
2   Law and logic: A review from an argumentation ...
3              Creativity and artificial intelligence
4   Artificial cognition for social human–robot in...
5   Explanation in artificial intelligence: Insigh...
6                       Making sense of sensory input
7   Conflict-based search for optimal multi-agent ...
8   Between MDPs and semi-MDPs: A framework for te...
9   The Hanabi challenge: A new frontier for AI re...
10  Evaluating XAI: A comparison of rule-based and...
11           Argumentation in artificial intelligence
12  Algorithms for computing strategies in two-pla...
13      Multiple object tracking: A literature review
14  Selection of relevant features and examples in...
15  A survey of inverse reinforcement learning: Ch...
16  Explaining individual predictions when feature...
17  A review of possible effects of cognitive bias...
18  Integrating social power into the decision-mak...
19  “That's (not) the output I expected!” On the r...
20  Explaining black-box classifiers using post-ho...
21  Algorithm runtime prediction: Methods & evalua...
22              Wrappers for feature subset selection
23  Commonsense visual sensemaking for autonomous ...
24         Quantum computation, quantum theory and AI

                                              Authors  Published Date  \
0   Silver, David, Singh, Satinder, Precup, Doina,...    October 2021
1           Evans, Richard, Bošnjak, Matko and 5 more    October 2021
2                    Prakken, Henry, Sartor, Giovanni    October 2015
3                                  Boden, Margaret A.     August 1998
4     Lemaignan, Séverin, Warnier, Mathieu and 3 more       June 2017
5                                         Miller, Tim   February 2019
6   Evans, Richard, Hernández-Orallo, José and 3 more      April 2021
7   Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...   February 2015
8   Sutton, Richard S., Precup, Doina, Singh, Sati...     August 1999
9         Bard, Nolan, Foerster, Jakob N. and 13 more      March 2020
10  van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...   February 2021
11                Bench-Capon, T.J.M., Dunne, Paul E.    October 2007
12       Bošanský, Branislav, Lisý, Viliam and 3 more     August 2016
13             Luo, Wenhan, Xing, Junliang and 4 more      April 2021
14                       Blum, Avrim L., Langley, Pat   December 1997
15                    Arora, Saurabh, Doshi, Prashant     August 2021
16       Aas, Kjersti, Jullum, Martin, Løland, Anders  September 2021
17  Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...       June 2021
18     Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.   December 2016
19                       Riveiro, Maria, Thill, Serge  September 2021
20  Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...        May 2021
21  Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...    January 2014
22                       Kohavi, Ron, John, George H.   December 1997
23  Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...    October 2021
24                                    Ying, Mingsheng   February 2010

                                            Paper URL
0   https://www.sciencedirect.com/science/article/...
1   https://www.sciencedirect.com/science/article/...
2   https://www.sciencedirect.com/science/article/...
3   https://www.sciencedirect.com/science/article/...
4   https://www.sciencedirect.com/science/article/...
5   https://www.sciencedirect.com/science/article/...
6   https://www.sciencedirect.com/science/article/...
7   https://www.sciencedirect.com/science/article/...
8   https://www.sciencedirect.com/science/article/...
9   https://www.sciencedirect.com/science/article/...
10  https://www.sciencedirect.com/science/article/...
11  https://www.sciencedirect.com/science/article/...
12  https://www.sciencedirect.com/science/article/...
13  https://www.sciencedirect.com/science/article/...
14  https://www.sciencedirect.com/science/article/...
15  https://www.sciencedirect.com/science/article/...
16  https://www.sciencedirect.com/science/article/...
17  https://www.sciencedirect.com/science/article/...
18  https://www.sciencedirect.com/science/article/...
19  https://www.sciencedirect.com/science/article/...
20  https://www.sciencedirect.com/science/article/...
21  https://www.sciencedirect.com/science/article/...
22  https://www.sciencedirect.com/science/article/...
23  https://www.sciencedirect.com/science/article/...
24  https://www.sciencedirect.com/science/article/...

In [18]:
# answer 9:
from bs4 import BeautifulSoup
import requests
import pandas as pd
def webscr1(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    
#extracting Restaurant name
    rl_li=[]
    R_count=[]
    R_count=soup.find_all('a',class_='restnt-name ellipsis')
   
    for i in R_count:
        rl_li.append(i.get_text())
        
          
#extracting Cuisine

    te_li=[]
    cus=[]
    
    te_count=soup.find_all('span',class_='double-line-ellipsis')
    for i in te_count:
        te_li.append(i.get_text().split("|")[1])

    
#extracting Location
    rat_li=[]
    rat_count=[]
    
    rat_count=soup.find_all('div',class_='restnt-loc ellipsis')

    for i in rat_count:
        rat_li.append(i.get_text())
    
    #print(rat_li)  

#extracting Ratings
    med_li=[]
    med_count=[]
    
    med_count=soup.find_all('div',class_='restnt-rating rating-4')

    for i in med_count:
        med_li.append(i.get_text())
    
#extracting Image URL
    ed_li=[]
    ed_count=[]
    
    ed_count=soup.find_all('img',class_='no-img')
    
    for i in ed_count:
        ed_li.append(i.get('data-src'))
    
    #print(ed_li)

        
#storing values in dataframe    
    df=pd.DataFrame()
    df["Restaurant name"]=rl_li
    df["Cuisine"]=te_li
    df["Location"]=rat_li
    df["Ratings"]=med_li
    df["Image URL"]=ed_li
    
    print("-------------Dine out details----------")
    print(df)
    
    
#calling function   
url="https://www.dineout.co.in/delhi-restaurants?search_str=delhi"
webscr1(url)

-------------Dine out details----------
                     Restaurant name  \
0                            Tamasha
1                              Local
2                        Station Bar
3                   Ministry Of Beer
4                                QBA
5                Unplugged Courtyard
6                  The Junkyard Cafe
7                 Cafe Delhi Heights
8                      The G.T. ROAD
9         The Luggage Room By Sandoz
10                     My Bar Square
11                       Dasaprakash
12                             Chido
13   Ardor 2.1 Restaurant and Lounge
14               My Bar Headquarters
15        Somewhere Restaurant & Bar
16             Dhaba Estd 1986 Delhi
17  Connaught Clubhouse Microbrewery
18                            Sandoz
19          Out Of The Box Courtyard
20                    Openhouse Cafe

                                              Cuisine  \
0           Continental, Asian, Italian, North Indian
1                    North Indian, Asian, Continental
2           Italian, Chinese, North Indian, Fast Food
3          North Indian, Continental, American, Asian
4                  North Indian, Continental, Italian
5    North Indian, Italian, Chinese, Turkish, Cont...
6       North Indian, Continental, Chinese, Fast Food
7    Continental, North Indian, Beverages, Chinese...
8                                        North Indian
9         Chinese, Italian, North Indian, Continental
10         Finger Food, Chinese, Continental, Italian
11   North Indian, South Indian, Beverages, Chines...
12   North Indian, Italian, Continental, Asian, Fi...
13        North Indian, Chinese, Italian, Continental
14                              North Indian, Chinese
15                   North Indian, Continental, Asian
16                              North Indian, Mughlai
17          North Indian, Continental, Asian, Chinese
18                 North Indian, Chinese, Continental
19      North Indian, Mediterranean, Chinese, Italian
20                       North Indian, Asian, Italian

                                        Location Ratings  \
0                 Connaught Place, Central Delhi     4.2
1   Scindia House,Connaught Place, Central Delhi       4
2         F-Block,Connaught Place, Central Delhi       4
3         M-Block,Connaught Place, Central Delhi       4
4                 Connaught Place, Central Delhi     4.3
5                 Connaught Place, Central Delhi       4
6                 Connaught Place, Central Delhi     4.1
7                         Janpath, Central Delhi     4.3
8         M-Block,Connaught Place, Central Delhi     4.3
9         M-Block,Connaught Place, Central Delhi     3.9
10                Connaught Place, Central Delhi     3.9
11                Connaught Place, Central Delhi     4.2
12                Connaught Place, Central Delhi     4.2
13                Connaught Place, Central Delhi     3.8
14                Connaught Place, Central Delhi       4
15                Connaught Place, Central Delhi     4.1
16                Connaught Place, Central Delhi     4.1
17                Connaught Place, Central Delhi     4.3
18                Connaught Place, Central Delhi       4
19                Connaught Place, Central Delhi     4.1
20                Connaught Place, Central Delhi     4.1

                                            Image URL
0   https://im1.dineout.co.in/images/uploads/resta...
1   https://im1.dineout.co.in/images/uploads/resta...
2   https://im1.dineout.co.in/images/uploads/resta...
3   https://im1.dineout.co.in/images/uploads/resta...
4   https://im1.dineout.co.in/images/uploads/resta...
5   https://im1.dineout.co.in/images/uploads/resta...
6   https://im1.dineout.co.in/images/uploads/resta...
7   https://im1.dineout.co.in/images/uploads/resta...
8   https://im1.dineout.co.in/images/uploads/resta...
9   https://im1.dineout.co.in/images/uploads/resta...
10  https://im1.dineout.co.in/images/uploads/resta...
11  https://im1.dineout.co.in/images/uploads/resta...
12  https://im1.dineout.co.in/images/uploads/resta...
13  https://im1.dineout.co.in/images/uploads/resta...
14  https://im1.dineout.co.in/images/uploads/resta...
15  https://im1.dineout.co.in/images/uploads/resta...
16  https://im1.dineout.co.in/images/uploads/resta...
17  https://im1.dineout.co.in/images/uploads/resta...
18  https://im1.dineout.co.in/images/uploads/resta...
19  https://im1.dineout.co.in/images/uploads/resta...
20  https://im1.dineout.co.in/images/uploads/resta...

In [19]:
# answer 10:
import pandas as pd
def webscr1(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    

#extracting Rank 
    pl_li=[]=[]
    Rank_count=[]
    Rank_count=soup.find_all('td',class_='gsc_mvt_p')

    for i in Rank_count:
        pl_li.append(i.get_text().replace("\n",""))
        
  
        
#extracting Publication

    te_li=[]
    
    te_count=soup.find_all('td',class_='gsc_mvt_t')
    for i in te_count:
        te_li.append(i.get_text())
        
    
#extracting h5-index
    rat_li=[]
    rat_count=[]
    
    rat_count=soup.find_all('a',class_='gs_ibl gsc_mp_anchor')

    for i in rat_count:
        rat_li.append(i.get_text())
    


#extracting h5-median
    med_li=[]
    med_count=[]
    
    med_count=soup.find_all('span',class_='gs_ibl gsc_mp_anchor')

    for i in med_count:
        med_li.append(i.get_text())
    
        
#storing values in dataframe    
    df=pd.DataFrame()
    df2=pd.DataFrame()
    df["Rank"]=pl_li
    df["Publication"]=te_li
    df["h5-index"]=rat_li
    df["h5-median"]=med_li
    
    print("-------------Top publication list----------")
    df2=df
    #df2.reset_index(drop=True, inplace=TRUE, index={""})
    df2.set_index(['Rank'], inplace = True)
    print(df2)
    
    
#calling function   
url="https://scholar.google.com/citations?view_op=top_venues&hl=en"
webscr1(url)

-------------Top publication list----------
                                            Publication h5-index h5-median
Rank
1.                                               Nature      444       667
2.                  The New England Journal of Medicine      432       780
3.                                              Science      401       614
4.    IEEE/CVF Conference on Computer Vision and Pat...      389       627
5.                                           The Lancet      354       635
...                                                 ...      ...       ...
96.                        Journal of Business Research      145       233
97.                                    Molecular Cancer      145       209
98.                                             Sensors      145       201
99.                               Nature Climate Change      144       228
100.                    IEEE Internet of Things Journal      144       212

[100 rows x 3 columns]