In [7]:
#Assignment 4
#----------------question1----------------------------
# Importing Libraries
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import  NoSuchElementException
from selenium.webdriver.common.by import By
import pandas as pd
import time

In [35]:
#connecting to webdriver

driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")
time.sleep(2)

# clicking search button using xpath function
#search_btn=driver.find_element(By.XPATH,'//input[@id="nav-search-submit-button"]')
#search_btn.click()


# creating empty lists for scraping data
rank=[]
Name=[]
Artist=[]
Upload_date=[]
View=[]

rank_tags=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody[1]/tr/td[1]')
name_tags=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody[1]/tr/td[2]')
Artist_tags=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody[1]/tr/td[3]')
upload_tags=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody[1]/tr/td[4]')
views_tags=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody[1]/tr/td[5]')

print(len(rank_tags),len(name_tags),len(Artist_tags),len(upload_tags),len(views_tags))

49 49 49 49 49

In [41]:
print(len(rank_tags),len(name_tags),len(Artist_tags),len(upload_tags),len(views_tags))

rank=[]
Name=[]
Artist=[]
Upload_date=[]
View=[]

for k in rank_tags[:30]:
    m=k.text
    rank.append(m)

for k1 in name_tags[:30]:
    m1=k1.text
    Name.append(m1)
    

for k2 in Artist_tags[:30]:
    m2=k2.text
    Artist.append(m2)
    

for k3 in upload_tags[:30]:
    m3=k3.text
    Upload_date.append(m3)

for k4 in views_tags[:30]:
    m4=k4.text
    View.append(m4)

print(len(rank),len(Name),len(Artist),len(Upload_date),len(Views))

49 49 49 49 49
30 30 30 30 159

In [42]:
View

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'May 2, 2018',
 'January 30, 2017',
 'April 6, 2015',
 'March 6, 2014',
 'November 19, 2014',
 'May 24, 2018',
 'February 27, 2018',
 'July 15, 2012',
 'January 31, 2012',
 'April 5, 2018',
 'January 14, 2015',
 'September 5, 2013',
 'May 31, 2013',
 'June 16, 2009',
 'October 22, 2015',
 'October 7, 2014',
 'June 25, 2018',
 'February 20, 2014',
 'June 4, 2010',
 'December 3, 2015',
 'July 25, 2012',
 'May 31, 2018',
 'November 9, 2017',
 'April 11, 2014',
 'March 22, 2015',
 'January 26, 2018',
 'June 14, 2018']

In [44]:
#-------------------creating data frame -------------------------
shop=pd.DataFrame({})
shop['Rank']=rank
shop['Name']=Name
shop['Artist']=Artist
shop['Upload_date']=View
shop['Views']=Upload_date



shop

,Rank,Name,Artist,Upload_date,Views
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.00
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.05
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.57
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.89
4,5.,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",5.88
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.74
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.08
7,8.,"""Uptown Funk""[24]",Mark Ronson,"November 19, 2014",4.79
8,9.,"""Wheels on the Bus""[25]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.77
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,"February 27, 2018",4.76
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.64
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.52
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.18
13,14.,"""Sugar""[34]",Maroon 5,"January 14, 2015",3.80
14,15.,"""Roar""[35]",Katy Perry,"September 5, 2013",3.70
15,16.,"""Counting Stars""[36]",OneRepublic,"May 31, 2013",3.70
16,17.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.67
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.62
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,"October 7, 2014",3.53
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.46
20,21.,"""Dark Horse""[41]",Katy Perry,"February 20, 2014",3.42
21,22.,"""Waka Waka (This Time for Africa)""[42]",Shakira,"June 4, 2010",3.40
22,23.,"""Faded""[43]",Alan Walker,"December 3, 2015",3.38
23,24.,"""Let Her Go""[44]",Passenger,"July 25, 2012",3.36
24,25.,"""Girls Like You""[45]",Maroon 5,"May 31, 2018",3.35
25,26.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.33
26,27.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.31
27,28.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.31
28,29.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.26
29,30.,"""Lakdi Ki Kathi""[50]",Jingle Toons,"June 14, 2018",3.24

In [48]:
#----------------answer 2----------------------------
# Importing Libraries

import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import  NoSuchElementException
from selenium.webdriver.common.by import By
import pandas as pd
import time

#connecting to webdriver

driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.bcci.tv/")
time.sleep(7)

try:
# clicking search button using xpath function
    search_btn=driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
    search_btn.click()
    time.sleep(7)

except  ElementNotInteractableException as e:
    print("hi")
    driver.get("https://www.bcci.tv/international/fixtures")
    

Match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]

Match_tags=driver.find_elements(By.XPATH,'//div[@class="fixture-card-top"]/h5[2]')
Series_tags=driver.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]/span[1]')
Place_tags=driver.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]/span[2]')
Date_tags=driver.find_elements(By.XPATH,'//div[@class="match-card-left match-schedule"]/h5')
Time_tags=driver.find_elements(By.XPATH,'//div[@class="match-card-right match-schedule "]/h5')

print(len(Match_tags),len(Series_tags),len(Place_tags),len(Date_tags),len(Time_tags))

8 8 8 8 8

In [52]:
Match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]

for k in Match_tags:
    m=k.text
    Match_title.append(m)

for k1 in Series_tags:
    m1=k1.text
    Series.append(m1)
    

for k2 in Place_tags:
    m2=k2.text
    Place.append(m2)
    

for k3 in Date_tags:
    m3=k3.text
    Date.append(m3)

for k4 in Time_tags:
    m4=k4.text
    Time.append(m4)


print(len(Match_title),len(Series),len(Place),len(Date),len(Time))

8 8 8 8 8

In [53]:
#-------------------creating data frame -------------------------
shop=pd.DataFrame({})
shop['Match_title']=Match_title
shop['Series']=Series
shop['Place']=Place
shop['Date']=Date
shop['Time']=Time

shop

,Match_title,Series,Place,Date,Time
0,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,4th T20I -,"Steyn City School Ground,",3 JAN 2023,1:30 PM IST
1,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,1st T20I -,"Wankhede Stadium,",3 JAN 2023,7:00 PM IST
2,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,5th T20I -,"Steyn City School Ground,",4 JAN 2023,1:30 PM IST
3,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,2nd T20I -,"Maharashtra Cricket Association Stadium,",5 JAN 2023,7:00 PM IST
4,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,3rd T20I -,"Saurashtra Cricket Association Stadium,",7 JAN 2023,7:00 PM IST
5,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,1st ODI -,"Barsapara Cricket Stadium,",10 JAN 2023,1:30 PM IST
6,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,2nd ODI -,"Eden Gardens,",12 JAN 2023,1:30 PM IST
7,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,3rd ODI -,"Greenfield International Stadium,",15 JAN 2023,1:30 PM IST

In [57]:
#----------------answer 3----------------------------
# Importing Libraries

import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import  NoSuchElementException
from selenium.webdriver.common.by import By
import pandas as pd
import time

#connecting to webdriver

driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.guru99.com/")
time.sleep(7)

try:
# clicking search button using xpath function
    # clicking search button using xpath function
     # clicking search button using xpath function
    search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a')
    search_btn.click()
    time.sleep(7)
    
    search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a/strong')
    search_btn.click()
    time.sleep(2)

except  ElementNotInteractableException as e:
    driver.get("https://www.guru99.com/exception-handling-selenium.html")
    
    
name_tags=driver.find_elements(By.XPATH,'//div[@class="entry-content single-content"]/p')
description_tags=driver.find_elements(By.XPATH,'//div[@class="entry-content single-content"]/p')

TypeError: object of type 'WebElement' has no len()

In [59]:
print(len(name_tags),len(description_tags))

Name=[]
descr=[]


for k in name_tags[:41]:
    m=k.text.split(":")[0]
    Name.append(m)

for k1 in description_tags[:41]:
    m1=k1.text.split(":")[1]
    descr.append(m1)
    

print(len(Name),len(descr))

53 53
41 41

In [62]:
#-------------------creating data frame -------------------------
shop=pd.DataFrame({})
shop['Name']=Name
shop['descr']=descr

shop

,Name,descr
0,1. ElementNotVisibleException,This type of Selenium exception occurs when a...
1,2. ElementNotSelectableException,This Selenium exception occurs when an elemen...
2,3. NoSuchElementException,This Exception occurs if an element could not...
3,4. NoSuchFrameException,This Exception occurs if the frame target to ...
4,5. NoAlertPresentException,This Exception occurs when you switch to no p...
5,6. NoSuchWindowException,This Exception occurs if the window target to...
6,7. StaleElementReferenceException,This Selenium exception occurs happens when t...
7,8. SessionNotFoundException,The WebDriver is acting after you quit the br...
8,9. TimeoutException,Thrown when there is not enough time for a co...
9,10. WebDriverException,This Exception takes place when the WebDriver...
10,11. ConnectionClosedException,This type of Exception takes place when there...
11,12. ElementClickInterceptedException,The command may not be completed as the eleme...
12,13. ElementNotInteractableException,This Selenium exception is thrown when any el...
13,14. ErrorInResponseException,This happens while interacting with the Firef...
14,15. ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if...
15,16. ImeActivationFailedException,This expectation will occur when IME engine a...
16,17. ImeNotAvailableException,It takes place when IME support is unavailable.
17,18. InsecureCertificateException,Navigation made the user agent to hit a certi...
18,19. InvalidArgumentException,It occurs when an argument does not belong to...
19,20. InvalidCookieDomainException,This happens when you try to add a cookie und...
20,21. InvalidCoordinatesException,This type of Exception matches an interacting...
21,22. InvalidElementStateException,It occurs when command can’t be finished when...
22,23. InvalidSessionIdException,This Exception took place when the given sess...
23,24. InvalidSwitchToTargetException,This occurs when the frame or window target t...
24,25. JavascriptException,This issue occurs while executing JavaScript ...
25,26. JsonException,It occurs when you afford to get the session ...
26,27. NoSuchAttributeException,This kind of Exception occurs when the attrib...
27,28. MoveTargetOutOfBoundsException,It takes place if the target provided to the ...
28,29. NoSuchContextException,ContextAware does mobile device testing.
29,30. NoSuchCookieException,This Exception occurs when no cookie matching...
30,31. NotFoundException,This Exception is a subclass of WebDriverExce...
31,32. RemoteDriverServerException,This Selenium exception is thrown when the se...
32,33. ScreenshotException,It is not possible to capture a screen.
33,34. SessionNotCreatedException,It happens when a new session could not be su...
34,35. UnableToSetCookieException,This occurs if a driver is unable to set a co...
35,36. UnexpectedTagNameException,Happens if a support class did not get a web ...
36,37. UnhandledAlertException,This expectation occurs when there is an aler...
37,38. UnexpectedAlertPresentException,It occurs when there is the appearance of an ...
38,39. UnknownMethodException,This Exception happens when the requested com...
39,40. UnreachableBrowserException,This Exception occurs only when the browser i...
40,41. UnsupportedCommandException,This occurs when remote WebDriver doesn’t sen...

In [64]:
#----------------answer 4----------------------------
# Importing Libraries

import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import  NoSuchElementException
from selenium.webdriver.common.by import By
import pandas as pd
import time

#connecting to webdriver

driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.statisticstimes.com/")
time.sleep(7)

try:
# clicking search button using xpath function
   
    search_btn=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
    search_btn.click()
    time.sleep(7)
    
    search_btn=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
    search_btn.click()
    time.sleep(2)
    
    search_btn=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
    search_btn.click()
    time.sleep(2)

except  NoSuchElementException as e:
    print("hi")
    driver.get("https://www.statisticstimes.com/economy/india/indian-states-gdp.php")
    
    
name_tags=driver.find_elements(By.XPATH,'//div[@id="main"]/div[5]/div/div/table/tbody[1]/tr')

hi

In [73]:
print(len(name_tags))


Rank=[]
State=[]
GSDP1819=[]
GSDP1920=[]
Share=[]
GDP=[]


for k in name_tags:
    m=k.text.split(" ")[0]
    Rank.append(m)
    m2=k.text.split(" ")[1]
    State.append(m2)
    m3=k.text.split(" ")[2]
    GSDP1819.append(m3)
    m4=k.text.split(" ")[3]
    GSDP1920.append(m4)
    m5=k.text.split(" ")[4]
    Share.append(m5)
    m6=k.text.split(" ")[5]
    GDP.append(m6)
    
print(len(Rank),len(State),len(GSDP1819),len(GSDP1920),len(Share),len(GDP))

33
33 33 33 33 33 33

In [75]:
GSDP1819

['-',
 'Nadu',
 'Pradesh',
 '-',
 '1,631,977',
 'Bengal',
 '1,020,989',
 'Pradesh',
 '969,604',
 'Pradesh',
 '-',
 '856,112',
 '831,610',
 '611,804',
 '574,760',
 '521,275',
 '-',
 '329,180',
 '328,598',
 '-',
 '&',
 'Pradesh',
 '80,449',
 '55,984',
 '-',
 '38,253',
 '36,572',
 '32,496',
 '31,790',
 '-',
 'Pradesh',
 '26,503',
 '&']

In [77]:
#-------------------creating data frame -------------------------
shop=pd.DataFrame({})
shop['Rank']=Rank
shop['State']=State
shop['GSDP:18-19']=GSDP1819
shop['GSDP:19-20']=GSDP1920
shop['Share']=Share
shop['GDP']=GDP


shop

   Rank         State GSDP:18-19 GSDP:19-20      Share      GDP
0     1   Maharashtra          -  2,632,792     13.94%  399.921
1     2         Tamil       Nadu  1,845,853  1,630,208    8.63%
2     3         Uttar    Pradesh  1,687,818  1,584,764    8.39%
3     4       Gujarat          -  1,502,899      7.96%  228.290
4     5     Karnataka  1,631,977  1,493,127      7.91%  226.806
5     6          West     Bengal  1,253,832  1,089,898    5.77%
6     7     Rajasthan  1,020,989    942,586      4.99%  143.179
7     8        Andhra    Pradesh    972,782    862,957    4.57%
8     9     Telangana    969,604    861,031      4.56%  130.791
9    10        Madhya    Pradesh    906,672    809,592    4.29%
10   11        Kerala          -    781,653      4.14%  118.733
11   12         Delhi    856,112    774,870      4.10%  117.703
12   13       Haryana    831,610    734,163      3.89%  111.519
13   14         Bihar    611,804    530,363      2.81%   80.562
14   15        Punjab    574,760    526,376      2.79%   79.957
15   16        Odisha    521,275    487,805      2.58%   74.098
16   17         Assam          -    315,881      1.67%   47.982
17   18  Chhattisgarh    329,180    304,063      1.61%   46.187
18   19     Jharkhand    328,598    297,204      1.57%   45.145
19   20   Uttarakhand          -    245,895      1.30%   37.351
20   21         Jammu          &    Kashmir          -  155,956
21   22      Himachal    Pradesh    165,472    153,845    0.81%
22   23           Goa     80,449     73,170      0.39%   11.115
23   24       Tripura     55,984     49,845      0.26%    7.571
24   25    Chandigarh          -     42,114      0.22%    6.397
25   26    Puducherry     38,253     34,433      0.18%    5.230
26   27     Meghalaya     36,572     33,481      0.18%    5.086
27   28        Sikkim     32,496     28,723      0.15%    4.363
28   29       Manipur     31,790     27,870      0.15%    4.233
29   30      Nagaland          -     27,283      0.14%    4.144
30   31     Arunachal    Pradesh          -     24,603    0.13%
31   32       Mizoram     26,503     22,287      0.12%    3.385
32   33       Andaman          &    Nicobar    Islands        -

In [79]:
#----------------answer 5----------------------------
# Importing Libraries

import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import  NoSuchElementException
from selenium.webdriver.common.by import By
import pandas as pd
import time

#connecting to webdriver

driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.statisticstimes.com/")
time.sleep(7)

try:
# clicking search button using xpath function
   
    search_btn=driver.find_element(By.XPATH,' /html/body/div[1]/div[1]/header/div/div[1]/div[2]/button/span/span')
    search_btn.click()
    time.sleep(7)
    
    
    search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[1]/button')
    search_btn.click()
    time.sleep(2)
    
    search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[1]/div/ul[2]/li[2]/a')
    search_btn.click()
    time.sleep(2)
    
    srch_jb = driver.find_element(By.XPATH,'//input[@class="text"]')
    srch_jb.send_keys("repo")
    time.sleep(1)
    

except  NoSuchElementException as e:
    print("hi")
    driver.get("https://github.com/search?q=repo&type=repositories")
    
    

    
Repo_tags=driver.find_elements(By.XPATH,'//div[@class="mt-n1 flex-auto"]/div[1]/div/a')
Repodes_tags=driver.find_elements(By.XPATH,'//div[@class="mt-n1 flex-auto"]/p[1]')
cont_tags=driver.find_elements(By.XPATH,'//div[@class="d-flex flex-wrap text-small color-fg-muted"]/div[1]/a')
lang_tags=driver.find_elements(By.XPATH,'//div[@class="d-flex flex-wrap text-small color-fg-muted"]/div[2]')


print(len(Repo_tags),len(Repodes_tags),len(cont_tags),len(lang_tags))

hi
10 10 10 10

In [80]:
print(len(Repo_tags))


Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language=[]

for k in Repo_tags:
    m=k.text
    Repository_title.append(m)

for k1 in Repodes_tags:
    m1=k1.text
    Repository_description.append(m1)
    

for k2 in cont_tags:
    m2=k2.text
    Contributors_count.append(m2)
    

for k3 in lang_tags:
    m3=k3.text
    Language.append(m3)
    
    
print(len(Repository_title),len(Repository_description),len(Contributors_count),len(Language))

10
10 10 10 10

In [81]:
#-------------------creating data frame -------------------------
shop=pd.DataFrame({})
shop['Repository_title']=Repository_title
shop['Repository_description']=Repository_description
shop['Contributors_count']=Contributors_count
shop['Language']=Language

shop

,Repository_title,Repository_description,Contributors_count,Language
0,suzeyu1992/repo,📒 记录一个自己的知识库,1.1k,Java
1,archlinuxcn/repo,Arch Linux CN Repository,1.2k,Shell
2,FZUG/repo,Fedora 中文社区软件源,520,DIGITAL Command Language
3,kisslinux/repo,KISS Linux - Official Repositories,374,C
4,octocat/Spoon-Knife,This repo is for demonstration purposes only.,11.4k,HTML
5,spring-boot-in-practice/repo,Spring Boot In Practice Book,81,Java
6,darcyclarke/Repo.js,📄 A plugin to embed Github repos on your site,892,MIT license
7,CocoaPods/Specs,The CocoaPods Master Repo,6.5k,"Updated 11 minutes agoJan 2, 2023"
8,aussieaddons/repo,Aussie Add-ons repository for Kodi,92,Python
9,kubernetes/website,Kubernetes website and documentation repo:,3.6k,HTML

In [23]:
#----------------answer 6----------------------------
# Importing Libraries

import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import  NoSuchElementException
from selenium.webdriver.common.by import By
import pandas as pd
import time

#connecting to webdriver

driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.billboard.com/")
time.sleep(7)

try:
# clicking search button using xpath function
   
    search_btn=driver.find_element(By.XPATH,' /html/body/div[1]/div[1]/header/div/div[1]/div[2]/button/span/span')
    search_btn.click()
    time.sleep(7)
    
    
    search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[1]/button')
    search_btn.click()
    time.sleep(2)
    
    search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[1]/div/ul[2]/li[2]/a')
    search_btn.click()
    time.sleep(2)
    
    srch_jb = driver.find_element(By.XPATH,'//input[@class="text"]')
    srch_jb.send_keys("repo")
    time.sleep(1)
    

except  NoSuchElementException as e:
    print("hi")
    driver.get("https://www.billboard.com/charts/hot-100/")
    
    

songs_tags=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/h3')
artist_tags=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul[1]/li[1]/span[1]')
last_tags=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul[1]/li[4]/span[1]')
peak_tags=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul[1]/li[5]/span[1]')
weeksboard=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul[1]/li[6]/span[1]')

print(len(songs_tags),len(artist_tags),len(last_tags),len(peak_tags),len(weeksboard))

hi
100 100 100 100 100

In [24]:
Song_name=[]
Artist_name=[]
Lastweekrank=[]
Peakrank=[]
Wks=[]

for k4 in weeksboard:
    Wks.append(k4.text)
    
for k in songs_tags:
    m=k.text
    Song_name.append(m)

for k1 in artist_tags:
    m1=k1.text
    Artist_name.append(m1)
    

for k2 in last_tags:
    m2=k2.text
    Lastweekrank.append(m2)
    

for k3 in peak_tags:
    m3=k3.text
    Peakrank.append(m3)



print(len(Song_name),len(Artist_name),len(Lastweekrank),len(Peakrank),len(Wks))

100 100 100 100 100

In [26]:
#-------------------creating data frame -------------------------
shop=pd.DataFrame({})
shop['Song name']=Song_name
shop['Artist name']=Artist_name
shop['Last week rank']=Lastweekrank
shop['Peak rank']=Peakrank
shop['Weeks on board']=Wks

shop

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,All I Want For Christmas Is You,Mariah Carey,1,1,57
1,Rockin' Around The Christmas Tree,Brenda Lee,2,2,51
2,Jingle Bell Rock,Bobby Helms,4,3,48
3,A Holly Jolly Christmas,Burl Ives,5,4,31
4,Last Christmas,Wham!,6,5,30
...,...,...,...,...,...
95,Down Home,Jimmie Allen,-,88,5
96,One Thing At A Time,Morgan Wallen,81,37,3
97,Hold Me Closer,Elton John & Britney Spears,89,6,17
98,Far,SZA,61,61,2
99,All Mine,Brent Faiyaz,95,42,20

In [27]:
#------------answer 7----------------------------------------------------
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
#from selenium.common.exceptions import staleElementRefereneceException, NoSuchElementException
from selenium.webdriver.common.by import By
import pandas as pd
import time


#connecting to webdriver
try:
    driver=webdriver.Chrome(r"chromedriver.exe")

    url="https://www.naukri.com/"
    driver.get("https://www.naukri.com/hr-recruiters-consultants")

    # finding element for job search bar
    srch_jb = driver.find_element(By.CLASS_NAME,"sugInp")
    srch_jb.send_keys('Data Science')

    # clicking search button using xpath function
    search_btn=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button")
    search_btn.click()
    time.sleep(5)

except  NoSuchElementException as e:
    print("hi")
    driver.get("https://www.naukri.com/data-science-recruiters")
    

job_titles=[]
desgination=[]
job_location=[]
company_name=[]
experience_required=[]
locations_tags=[]

title_tags=driver.find_elements(By.XPATH,'//a[@class="ellipsis"]/span[1]')
for i in title_tags:
    t=i.text
    job_titles.append(t)       

des_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]')
desgination=[]
for i in des_tags:
    d=i.text
    desgination.append(d)  
    

locations_tags=driver.find_elements(By.XPATH,'//p[@class="highlightable"]/span[1]')
job_location=[]
for i in locations_tags:
    m=i.text
    job_location.append(m)     


company_name=[]
company_tags=driver.find_elements(By.XPATH,'//p[@class="highlightable"]/a[2]')
for i in company_tags:
    n=i.text
    company_name.append(n)

experience_tags=driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
experience_tags
for i in experience_tags:
    l=i.text
    experience_required.append(l)

# creating dataframe
jobs=pd.DataFrame({})
jobs['Name']=job_titles
jobs['Designation']=desgination
jobs['company']=company_name
jobs['Skills they hire for']=experience_required
jobs['location']=job_location

print(jobs)

driver.close()

                                             Name  \
0                                    Aakash Harit
1                            shravan Kumar Gaddam
2                        MARSIAN Technologies LLP
3                                    Anik Agrawal
4                                    subhas patel
5    Abhishek - Only Analytics Hiring - India and
6   Institute for Financial Management and Resear
7                                     Balu Ramesh
8                                   Asif Lucknowi
9                                 InstaFinancials
10                                Kalpana Dumpala
11                                        Mubarak
12                                 Kushal Rastogi
13                             Mahesh Babu Channa
14                             Vaishnavi Kudalkar
15                                 Priyanka Akiri
16                                   Kapil Devang
17                                Sakshi Chhikara
18                                    Ruchi Dhote
19                                  Manisha Yadav
20                                    Riya Rajesh
21                           Rashmi Bhattacharjee
22                                  Faizan Kareem
23                                 Rithika dadwal
24                             Sandhya Khandagale
25                                      Shaun Rao
26                               Deeparchi Sharma
27                                  Azahar Shaikh
28                                          Manas
29                                          kumar
30                                   Sunil Vedula
31                                    Rajat Kumar
32                                Dhruv Dev Dubey
33                                      Jayanth N
34                                         Avodha
35                                    Priya Khare
36                                    Amit Sharma
37                                          Kanan
38                           Shashikant Chaudhary
39                                           Brad
40                                   Rutuja Pawar
41                            Madhusudhan Sridhar
42                                    Ankit Sinha
43                                 Gaurav Chouhan
44                                   Rashi Kacker
45                                        Ashwini
46                                   Balaji Kolli
47                                 Rajani Nagaraj
48                                    ROHIT Kumar
49                                 Amir Chowdhury

                            Designation  \
0                            HR Manager
1                     Company Recruiter
2                            Company HR
3                     Company Recruiter
4                           Founder CEO
5           Recruitment Lead Consultant
6                     Programme Manager
7                      HR Administrator
8                              Director
9                        Human Resource
10                     Executive Hiring
11                           Company HR
12                           Company HR
13                         HR Team Lead
14                         HR Executive
15                           HR Manager
16                           HR Manager
17                 Assistant Manager HR
18  Senior Executive Talent Acquisition
19                         HR Executive
20           Manager Talent Acquisition
21                              HR Head
22                           HR MANAGER
23                         HR Recruiter
24                         HR Recruiter
25              Manager Human Resources
26                    Company Recruiter
27                    Company Recruiter
28              Lead Talent acquisition
29                           Proprietor
30                                  CEO
31                          Founder CEO
32             Company Recruitment Head
33                      Project Manager
34       Business Development Associate
35                       Senior Manager
36                           Consultant
37         senior technology instructor
38             HR Recruiter/HR Excutive
39        Manager, Technical Recruiting
40                  Technical Recruiter
41                      Erp Implementer
42                       Head Analytics
43              Chief Technical Officer
44                   Sr Product Manager
45             Director Global Delivery
46                           Co Founder
47                           HR Manager
48                            Architect
49                     Managing Partner

                                           company  \
0                             Data Science Network
1                    Shore Infotech India Pvt. Ltd
2                         MARSIAN Technologies LLP
3            Enerlytics Software Solutions Pvt Ltd
4                                  LibraryXProject
5       Apidel Technologies Division of Transpower
6                                             IFMR
7                      Techvantage Systems Pvt Ltd
8                       Weupskill- Live Wire India
9                 CBL Data Science Private Limited
10                              Innominds Software
11                                        MoneyTap
12              QuantMagnum Technologies Pvt. Ltd.
13                               SocialPrachar.com
14                             Codeachive learning
15                   Infinitive Software Solutions
16                                  BISP Solutions
17                   BIZ INFOTECNO PRIVATE LIMITED
18                           Bristlecone India Ltd
19                                        Easi Tax
20                     Novelworx Digital Solutions
21         AXESTRACK SOFTWARE SOLUTIONS PRIVATE...
22                   FirstTech Consaltants Pvt.Ltd
23                                Affine Analytics
24                 Compumatrice Multimedia Pvt Ltd
25                              Exela Technologies
26                                          ZIGRAM
27                 NEAL ANALYTICS SERVICES PVT LTD
28      Autumn Leaf Consulting Services Private...
29                                         trainin
30                            Nanoprecise Sci Corp
31                  R.S Consultancy &amp; Services
32                                    Confidential
33        Dollarbird Information Services Pvt, Ltd
34                              Nikitha Palaparthi
35                          Independent Consultant
36                                 ASCO consulting
37                                         NY INST
38  3D India Staffing Research &amp; Consulting...
39                                     O.C. Tanner
40                                   Demand Matrix
41                             MADHUSUDHAN SRIDHAR
42                                  Suntech Global
43                        Strategic Consulting Lab
44                            Impel Labs Pvt. Ltd.
45                                    MRP Advisers
46                   Saras Solutions India Pvt Ltd
47                                     WildJasmine
48                             LNT Private Limited
49                                     Granular.ai

                                 Skills they hire for  \
0   Classic ASP Developer, Internet Marketing Prof...
1   .Net, Java, Data Science, Linux Administration...
2   Data Science, Artificial Intelligence, Machine...
3   Mean Stack, javascript, angularjs, mongodb, We...
4   Hadoop, Spark, Digital Strategy, Data Architec...
5   Analytics, Business Intelligence, Business Ana...
6                                        Data Science
7   Machine Learning, algorithms, Go Getter, Compu...
8   Technical Training, Software Development, Pres...
9   Software Development, It Sales, Account Manage...
10  Qa, Ui/ux, Java Developer, Java Architect, C++...
11  Business Intelligence, Data Warehousing, Data ...
12  Office Administration, Hr Administration, tele...
13  Social Media, digital media maketing, seo, smm...
14               Data Science, Python, Data Analytics
15  Oracle Dba, Data Science, Data Warehousing, ET...
16     Big Data, Hadoop, Data Analytics, Data Science
17  React.js, Data Science, Java, Front End, Busin...
18  Qlikview, Qlik Sense, Microsoft Azure, Power B...
19  Telecalling, Client Interaction, Marketing, Re...
20                                       Data Science
21  Corporate Sales, Software Development, Softwar...
22  Data Analytics, Data Science, Machine Learning...
23  Data Science, Machine Learning, Python, R, Dee...
24  Big Data, Data Science, Artificial Intelligenc...
25  Java, Net, Angularjs, Hr, Infrastructure, Mana...
26  Research, Digital Marketing, Analytics, Softwa...
27  Data Science, Artificial Intelligence, Machine...
28  Software Architecture, Vp Engineering, Product...
29  Data Science, Hadoop, Rpas, Devops, Python, Aw...
30  Signal Processing, Machine Learning, Neural Ne...
31  Web Technologies, Project Management, Software...
32  Server Administartion, Verilog, Vhdl, Digital ...
33  Data Analytics, Managed Services, Team Leading...
34  Ethical Hacking, Security Operations Center, S...
35  Data Science, Artificial Intelligence, analyti...
36  Machine Learning, Artificial Intelligence, Dat...
37  C, C++, Artificial Intelligence, Python, Php, ...
38  Relationship Management, Retail Sales, Private...
39                 Data Science, Software Engineering
40  Data Science, Big Data Analytics, Digital Mark...
41                  Data Science, Recruitment, Salary
42  B.Tech, Tableau, Statistics, R, Analytics, Tim...
43  Software Development, Business Intelligence, B...
44                   Data Science, Node.js, Angularjs
45  Data Science, Media Marketing, Resource Planni...
46  Data Analysis, Learning, Data Science, Compute...
47  Java, Hadoop, R, Machine Learning, Spark, Flum...
48  Software Development, Core Java, Unit Testing,...
49  Machine Learning, Data Science, Product Manage...

                               location
0                            HR Manager
1                     Company Recruiter
2                            Company HR
3                     Company Recruiter
4                           Founder CEO
5           Recruitment Lead Consultant
6                     Programme Manager
7                      HR Administrator
8                              Director
9                        Human Resource
10                     Executive Hiring
11                           Company HR
12                           Company HR
13                         HR Team Lead
14                         HR Executive
15                           HR Manager
16                           HR Manager
17                 Assistant Manager HR
18  Senior Executive Talent Acquisition
19                         HR Executive
20           Manager Talent Acquisition
21                              HR Head
22                           HR MANAGER
23                         HR Recruiter
24                         HR Recruiter
25              Manager Human Resources
26                    Company Recruiter
27                    Company Recruiter
28              Lead Talent acquisition
29                           Proprietor
30                                  CEO
31                          Founder CEO
32             Company Recruitment Head
33                      Project Manager
34       Business Development Associate
35                       Senior Manager
36                           Consultant
37         senior technology instructor
38             HR Recruiter/HR Excutive
39        Manager, Technical Recruiting
40                  Technical Recruiter
41                      Erp Implementer
42                       Head Analytics
43              Chief Technical Officer
44                   Sr Product Manager
45             Director Global Delivery
46                           Co Founder
47                           HR Manager
48                            Architect
49                     Managing Partner

In [28]:
#----------------answer 8---------------------------

# Importing Libraries

import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import  NoSuchElementException
from selenium.webdriver.common.by import By
import pandas as pd
import time

#connecting to webdriver

driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")
time.sleep(7)

    

book_tags=driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[2]')
a_tags=driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[3]')
v_tags=driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[4]')
p_tags=driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[5]')
genere_tags=driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[6]')

print(len(book_tags),len(a_tags),len(v_tags),len(p_tags),len(genere_tags))

100 100 100 100 100

In [29]:
Bookname=[]
Authorname=[]
Volumessold=[]
Publisher=[]
Genre=[]

for k4 in book_tags:
    Bookname.append(k4.text)
    
for k in a_tags:
    m=k.text
    Authorname.append(m)

for k1 in v_tags:
    m1=k1.text
    Volumessold.append(m1)
    

for k2 in p_tags:
    m2=k2.text
    Publisher.append(m2)
    

for k3 in genere_tags:
    m3=k3.text
    Genre.append(m3)

print(len(Bookname),len(Authorname),len(Volumessold),len(Publisher),len(Genre))

100 100 100 100 100

In [30]:
#-------------------creating data frame -------------------------
shop=pd.DataFrame({})
shop['Book_name']=Bookname
shop['Author_name']=Authorname
shop['Volumes_sold']=Volumessold
shop['Publisher']=Publisher
shop['Genre']=Genre

shop

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [32]:
#----------------answer 9------------------------------------------

# Importing Libraries

import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import  NoSuchElementException
from selenium.webdriver.common.by import By
import pandas as pd
import time

#connecting to webdriver

driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.imdb.com/list/ls095964455/")
time.sleep(7)

    

n_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3[1]/a')
y_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3[1]/span[2]')
g_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[1]/span[5]')
r_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[1]/span[3]')
rat_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/div[1]/div[1]/span[2]')
v_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[4]/span[2]')

print(len(n_tags),len(y_tags),len(g_tags),len(r_tags),len(rat_tags),len(v_tags))

100 100 100 100 100 100

In [33]:
Name=[]
Year=[]
Genre=[]
Run=[]
Ratings=[]
Votes=[]



for k4 in n_tags:
    Name.append(k4.text)
    
for k in y_tags:
    m=k.text
    Year.append(m)

for k1 in g_tags:
    m1=k1.text
    Genre.append(m1)
    

for k2 in r_tags:
    m2=k2.text
    Run.append(m2)
    

for k3 in rat_tags:
    m3=k3.text
    Ratings.append(m3)

for k5 in v_tags:
    Votes.append(k5.text)

print(len(Name),len(Year),len(Genre),len(Run),len(Ratings),len(Votes))

100 100 100 100 100 100

In [34]:
#-------------------creating data frame -------------------------
shop=pd.DataFrame({})
shop['Name']=Name
shop['Year_span']=Year
shop['Genre']=Genre
shop['Run time']=Run
shop['Ratings']=Ratings
shop['Votes']=Votes

shop

,Name,Year_span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,101,064"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,191,450"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"994,618"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"294,361"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"253,472"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"50,393"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"62,026"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"200,080"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,725"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"247,169"

In [ ]:
#------------answer 10----------------------------------------------------
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
#from selenium.common.exceptions import staleElementRefereneceException, NoSuchElementException
from selenium.webdriver.common.by import By
import pandas as pd
import time


#connecting to webdriver
try:
    driver=webdriver.Chrome(r"chromedriver.exe")

    url="https://www.naukri.com/"
    driver.get("https://www.naukri.com/hr-recruiters-consultants")

    # finding element for job search bar
    srch_jb = driver.find_element(By.CLASS_NAME,"sugInp")
    srch_jb.send_keys('Data Science')

    # clicking search button using xpath function
    search_btn=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button")
    search_btn.click()
    time.sleep(5)

except  NoSuchElementException as e:
    print("hi")
    driver.get("https://archive.ics.uci.edu/ml/datasets.php")
    
    
Datasetname=[]
Datatype=[]
Task=[]
Attributetype=[]
Noofinstance=[]
Noofattribute=[]
Year=[]