In [7]:
#Assignment 4
#----------------question1----------------------------
# Importing Libraries
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import  NoSuchElementException
from selenium.webdriver.common.by import By
import pandas as pd
import time

In [35]:
#connecting to webdriver

driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")
time.sleep(2)

# clicking search button using xpath function
#search_btn=driver.find_element(By.XPATH,'//input[@id="nav-search-submit-button"]')
#search_btn.click()


# creating empty lists for scraping data
rank=[]
Name=[]
Artist=[]
Upload_date=[]
View=[]

rank_tags=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody[1]/tr/td[1]')
name_tags=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody[1]/tr/td[2]')
Artist_tags=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody[1]/tr/td[3]')
upload_tags=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody[1]/tr/td[4]')
views_tags=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody[1]/tr/td[5]')

print(len(rank_tags),len(name_tags),len(Artist_tags),len(upload_tags),len(views_tags))

49 49 49 49 49

In [41]:
print(len(rank_tags),len(name_tags),len(Artist_tags),len(upload_tags),len(views_tags))

rank=[]
Name=[]
Artist=[]
Upload_date=[]
View=[]

for k in rank_tags[:30]:
    m=k.text
    rank.append(m)

for k1 in name_tags[:30]:
    m1=k1.text
    Name.append(m1)
    

for k2 in Artist_tags[:30]:
    m2=k2.text
    Artist.append(m2)
    

for k3 in upload_tags[:30]:
    m3=k3.text
    Upload_date.append(m3)

for k4 in views_tags[:30]:
    m4=k4.text
    View.append(m4)

print(len(rank),len(Name),len(Artist),len(Upload_date),len(Views))

49 49 49 49 49
30 30 30 30 159

In [42]:
View

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'May 2, 2018',
 'January 30, 2017',
 'April 6, 2015',
 'March 6, 2014',
 'November 19, 2014',
 'May 24, 2018',
 'February 27, 2018',
 'July 15, 2012',
 'January 31, 2012',
 'April 5, 2018',
 'January 14, 2015',
 'September 5, 2013',
 'May 31, 2013',
 'June 16, 2009',
 'October 22, 2015',
 'October 7, 2014',
 'June 25, 2018',
 'February 20, 2014',
 'June 4, 2010',
 'December 3, 2015',
 'July 25, 2012',
 'May 31, 2018',
 'November 9, 2017',
 'April 11, 2014',
 'March 22, 2015',
 'January 26, 2018',
 'June 14, 2018']

In [44]:
#-------------------creating data frame -------------------------
shop=pd.DataFrame({})
shop['Rank']=rank
shop['Name']=Name
shop['Artist']=Artist
shop['Upload_date']=View
shop['Views']=Upload_date



shop

,Rank,Name,Artist,Upload_date,Views
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.00
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.05
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.57
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.89
4,5.,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",5.88
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.74
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.08
7,8.,"""Uptown Funk""[24]",Mark Ronson,"November 19, 2014",4.79
8,9.,"""Wheels on the Bus""[25]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.77
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,"February 27, 2018",4.76
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.64
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.52
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.18
13,14.,"""Sugar""[34]",Maroon 5,"January 14, 2015",3.80
14,15.,"""Roar""[35]",Katy Perry,"September 5, 2013",3.70
15,16.,"""Counting Stars""[36]",OneRepublic,"May 31, 2013",3.70
16,17.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.67
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.62
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,"October 7, 2014",3.53
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.46
20,21.,"""Dark Horse""[41]",Katy Perry,"February 20, 2014",3.42
21,22.,"""Waka Waka (This Time for Africa)""[42]",Shakira,"June 4, 2010",3.40
22,23.,"""Faded""[43]",Alan Walker,"December 3, 2015",3.38
23,24.,"""Let Her Go""[44]",Passenger,"July 25, 2012",3.36
24,25.,"""Girls Like You""[45]",Maroon 5,"May 31, 2018",3.35
25,26.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.33
26,27.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.31
27,28.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.31
28,29.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.26
29,30.,"""Lakdi Ki Kathi""[50]",Jingle Toons,"June 14, 2018",3.24

In [48]:
#----------------answer 2----------------------------
# Importing Libraries

import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import  NoSuchElementException
from selenium.webdriver.common.by import By
import pandas as pd
import time

#connecting to webdriver

driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.bcci.tv/")
time.sleep(7)

try:
# clicking search button using xpath function
    search_btn=driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
    search_btn.click()
    time.sleep(7)

except  ElementNotInteractableException as e:
    print("hi")
    driver.get("https://www.bcci.tv/international/fixtures")
    

Match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]

Match_tags=driver.find_elements(By.XPATH,'//div[@class="fixture-card-top"]/h5[2]')
Series_tags=driver.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]/span[1]')
Place_tags=driver.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]/span[2]')
Date_tags=driver.find_elements(By.XPATH,'//div[@class="match-card-left match-schedule"]/h5')
Time_tags=driver.find_elements(By.XPATH,'//div[@class="match-card-right match-schedule "]/h5')

print(len(Match_tags),len(Series_tags),len(Place_tags),len(Date_tags),len(Time_tags))

8 8 8 8 8

In [52]:
Match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]

for k in Match_tags:
    m=k.text
    Match_title.append(m)

for k1 in Series_tags:
    m1=k1.text
    Series.append(m1)
    

for k2 in Place_tags:
    m2=k2.text
    Place.append(m2)
    

for k3 in Date_tags:
    m3=k3.text
    Date.append(m3)

for k4 in Time_tags:
    m4=k4.text
    Time.append(m4)


print(len(Match_title),len(Series),len(Place),len(Date),len(Time))

8 8 8 8 8

In [53]:
#-------------------creating data frame -------------------------
shop=pd.DataFrame({})
shop['Match_title']=Match_title
shop['Series']=Series
shop['Place']=Place
shop['Date']=Date
shop['Time']=Time

shop

,Match_title,Series,Place,Date,Time
0,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,4th T20I -,"Steyn City School Ground,",3 JAN 2023,1:30 PM IST
1,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,1st T20I -,"Wankhede Stadium,",3 JAN 2023,7:00 PM IST
2,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,5th T20I -,"Steyn City School Ground,",4 JAN 2023,1:30 PM IST
3,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,2nd T20I -,"Maharashtra Cricket Association Stadium,",5 JAN 2023,7:00 PM IST
4,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,3rd T20I -,"Saurashtra Cricket Association Stadium,",7 JAN 2023,7:00 PM IST
5,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,1st ODI -,"Barsapara Cricket Stadium,",10 JAN 2023,1:30 PM IST
6,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,2nd ODI -,"Eden Gardens,",12 JAN 2023,1:30 PM IST
7,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,3rd ODI -,"Greenfield International Stadium,",15 JAN 2023,1:30 PM IST

In [55]:
#----------------answer 3----------------------------
# Importing Libraries

import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import  NoSuchElementException
from selenium.webdriver.common.by import By
import pandas as pd
import time

#connecting to webdriver

driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.guru99.com/")
time.sleep(7)

try:
# clicking search button using xpath function
    # clicking search button using xpath function
    search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a')
    search_btn.click()
    time.sleep(7)
    
    search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a/strong')
    search_btn.click()
    time.sleep(7)

except  ElementNotInteractableException as e:
    print("hi")
    driver.get("https://www.guru99.com/exception-handling-selenium.html")
    
    
name_tags=driver.find_element(By.XPATH,'')
description_tags=driver.find_element(By.XPATH,'')

print()

In [ ]:
Name=[]
descr=[]


for k in Match_tags:
    m=k.text
    Match_title.append(m)

for k1 in Series_tags:
    m1=k1.text
    Series.append(m1)
    

for k2 in Place_tags:
    m2=k2.text
    Place.append(m2)
    

for k3 in Date_tags:
    m3=k3.text
    Date.append(m3)

for k4 in Time_tags:
    m4=k4.text
    Time.append(m4)


print(len(Match_title),len(Series),len(Place),len(Date),len(Time))